# Project exclude paths

/node_modules/
/src/utils/classes.js
/src/utils/classes.js.map
/src/utils/connector.js
/src/utils/connector.js.map
/src/utils/constants.js
/src/utils/constants.js.map
/src/utils/disconnectors.js
/src/utils/disconnectors.js.map
/src/utils/events.js
/src/utils/events.js.map
/src/utils/funcTools.js
/src/utils/funcTools.js.map
/src/utils/global.d.ts
/src/utils/global.js
/src/utils/global.js.map
/src/utils/interfaces.js
/src/utils/interfaces.js.map
/src/utils/styles_sheet.js
/src/utils/styles_sheet.js.map
/src/components.js
/src/components.js.map
/src/core.js
/src/core.js.map
/src/injection.js
/src/injection.js.map
/src/services.js
/src/services.js.map
/src/state.js
/src/state.js.map
/src/test.js
/src/test.js.map